<!-- <button mat-button>Works</button>
<button mat-raised-button>Works1</button>

<div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div> -->


<!-- <div class="mat-headline">Headline for h1</div>
<div class="mat-title">Heading h2</div>
<div class="mat-subheading-2">Heading for h3</div>
<div class="mat-subheading-1">Heading for h4</div>


<div class="mat-body-1">This is a body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is a caption text</div>


<div class="mat-typography">
  <h1>Heading for h1</h1>
  <h2>Heading for h2</h2>
  <h3>Heading for h3</h3>
  <h4>Heading for h4</h4>
</div> -->

<!-- 
<div>
  <button mat-button>mat button</button>
  <button mat-raised-button>raised button</button>
  <button mat-flat-button>flat button</button>
  <button mat-stroked-button>Stroked button</button>
</div>

<div>
  <button class="mat-icon-button">Icon</button>
  <button class="mat-fab">Fab</button>
  <button class="mat-mini-fab"></button>
</div>

//buttons with colors
//disableRipple-- when you dont want a ripple effect in a button

<div>
  <button color="primary" mat-button>mat button</button>
  <button color="accent" mat-button>mat button</button>
  <button color="warn" disableRipple mat-button>mat button</button>
  <button  color="primary" mat-raised-button>raised button</button>
  <button color="accent"  mat-flat-button>flat button</button>
  <button color="warn" mat-stroked-button>Stroked button</button>
</div> -->

<!-- 
<div>
  <mat-button-toggle>Toggle</mat-button-toggle>
  <mat-button-toggle #toggleBtn checked disableRipple disabled>Toggle</mat-button-toggle>
  {{toggleBtn.checked}}

</div>

<div>
//Use multiple if you want multiple clicks with multiple values
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>

    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>

  </mat-button-toggle-group>

  {{toggleGroup.value}}

</div> -->


<!-- //Materials Icons...

<div>
    <mat-icon color="primary">Grade</mat-icon>
</div>
 -->

<!-- 
//Badges..

<div>
  <span matBadge="5">Notifications</span>
</div>

//Badge position
<div>
  <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>
<div>
  <span matBadge="5"matBadgePosition="below after">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

//Badge size
<div>
  <span matBadge="5" matBadgeSize="small">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="large">Notifications</span>
</div>


//Badge color
<div>
  <span matBadge="5" matBadgeColor="primary">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="accent">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn">Notifications</span>
</div>

//Badge not to overlap with the text..

<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>

//Property binding:
//Also when the notifications is 0 , the  badge will be hidden..

<div>
  <span [matBadge]="notifications" matBadgeColor="warn" matBadgeOverlap="false" [matBadgeHidden]="notifications===0">Notifications</span>
</div> -->


<!-- //Progress spinner:


<mat-progress-spinner value="100"></mat-progress-spinner>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<button mat-button (click)="loadData()">Load Data</button>

//ProgressBarIndicator: -->


<!-- <mat-toolbar color="primary" class="navbar">
  <span>Codevolution</span>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar> -->


<!-- <mat-sidenav-container>
  <mat-sidenav mode="over"  [(opened)]="opened">Sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened"> Toggle Opened</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <mat-sidenav-container>
  <mat-sidenav mode="push"  [(opened)]="opened">Sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened"> Toggle Opened</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<!-- 
<mat-sidenav-container>
  <mat-sidenav #sidenav  (opened)="log('opened')" (closed)="log('closed')" mode="side"  
  [(opened)]="opened">Sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened"> Toggle Opened</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->



<!-- //Menus -->
<!-- 
<mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
  <button mat-menu-item [mat-menu-trigger-for]="subMenu">Frontend</button>
  <button mat-menu-item>Backend</button>
</mat-menu> -->

<!-- /*There is a menu called appMenu which is triggered by the Menu button!*/ -->
<!-- 
<button class="center" mat-flat-button [mat-menu-trigger-for]="appMenu">Menu</button> -->

<!-- //matMenu is the directive! -->
<!-- <mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu> -->

<!-- <button [mat-menu-trigger-for]="subMenu">Choose your skill</button> -->



<!-- <mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Log out {{name}}</button>
  </ng-template>
</mat-menu>

<button mat-raised-button [matMenuTriggerData]="{name:'Pooh'}" [mat-menu-trigger-for]="lazyMenu">Pooh</button>
<button mat-raised-button [matMenuTriggerData]="{name:'zuzu'}" [mat-menu-trigger-for]="lazyMenu">Zuzu</button> -->



<!-- Lists: -->
<!-- 

<mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Heading </h3>
    <p matLine>Line</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Heading 2</h3>
    <p matLine>Line 2</p>
  </mat-list-item>
</mat-list> -->


<!-- Grids: -->
<!--Applying row and colspan-->
<!-- <mat-grid-list cols="2">
  <mat-grid-tile rowspan="2">Tile 1 </mat-grid-tile>
  <mat-grid-tile>Tile 2 </mat-grid-tile>
  <mat-grid-tile colspan="2">Tile 3 </mat-grid-tile>
  <mat-grid-tile>Tile 4 </mat-grid-tile>
</mat-grid-list> -->

<!-- <mat-grid-list cols="3" rowHeight="40px">
  <mat-grid-tile>Tile 1 </mat-grid-tile>
  <mat-grid-tile>Tile 2 </mat-grid-tile>
  <mat-grid-tile>Tile 3 </mat-grid-tile>
  <mat-grid-tile>Tile 4 </mat-grid-tile>
  <mat-grid-tile>Tile 1 </mat-grid-tile>
  <mat-grid-tile>Tile 2 </mat-grid-tile>
  <mat-grid-tile>Tile 3 </mat-grid-tile>
  <mat-grid-tile>Tile 4 </mat-grid-tile>
  <mat-grid-tile>Tile 4 </mat-grid-tile>
</mat-grid-list> -->


<!-- <mat-grid-list cols="2" rowHeight="fit" style="height: 200px;" gutterSize="10px">

    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>

</mat-grid-list> -->



<!--MatExpansionPanel-->

<!-- <mat-expansion-panel>
  <mat-expansion-panel-header>

    <mat-panel-title>Angular Fundamentals</mat-panel-title>
    <mat-panel-description>Total duration : 3 hours</mat-panel-description>

  </mat-expansion-panel-header>
  <p>This is a panel content. Add course details</p>
  <button mat-button>Enroll</button>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>

    <mat-panel-title>Angular Materials</mat-panel-title>
    <mat-panel-description>Total duration : 3 hours</mat-panel-description>

  </mat-expansion-panel-header>
  <p>This is a panel content. Add course details</p>
  <button mat-button>Enroll</button>
</mat-expansion-panel> -->


<!--Using Mat accordion-->

<!-- <mat-accordion multi="true" hideToggle>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
  
      <mat-panel-title>Angular Fundamentals</mat-panel-title>
      <mat-panel-description>Total duration : 3 hours</mat-panel-description>
  
    </mat-expansion-panel-header>
    <p>This is a panel content. Add course details</p>
    <button mat-button>Enroll</button>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
  
      <mat-panel-title>Angular Materials</mat-panel-title>
      <mat-panel-description>Total duration : 3 hours</mat-panel-description>
  
    </mat-expansion-panel-header>
    <p>This is a panel content. Add course details</p>
    <button mat-button>Enroll</button>
  </mat-expansion-panel>

</mat-accordion> -->


<!--CARDS-->

<!-- <mat-card>
  <mat-card-title>Card Title</mat-card-title>
  <mat-card-content>This is a card content</mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button>Login</button>
  </mat-card-actions>
</mat-card> -->

<!--TABS-->

<!-- <mat-tab-group #tabRef (selectedTabChange)="logChange('tabRef.selectedIndex')">

  <mat-tab label="Angular">Angular Content </mat-tab>
  <mat-tab label="React">React Content</mat-tab>
  <mat-tab label="Vue">View Content</mat-tab>
  
</mat-tab-group>
{{tabRef.selectedIndex}} -->



<!--sTepper-->

<!-- <mat-horizontal-stepper>
  <mat-step label="Shipping Address">
    <p>Shipping Address Details</p>
  </mat-step>
  <mat-step label="Billing address">
    <p>Billing Address Details</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order">
    <p>Order Details</p>
  </mat-step>

</mat-horizontal-stepper> -->

<!-- <mat-horizontal-stepper linear>
  <mat-step label="Shipping Address" completed=true>
    <p>Shipping Address Details</p>
  </mat-step>
  <mat-step label="Billing address" completed="false" optional>
    <p>Billing Address Details</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order">
    <p>Order Details</p>
  </mat-step>

</mat-horizontal-stepper> -->

<!-- <mat-vertical-stepper linear>
  <mat-step label="Shipping Address" completed=true>
    <p>Shipping Address Details</p>
  </mat-step>
  <mat-step label="Billing address" completed="false" optional>
    <p>Billing Address Details</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order">
    <p>Order Details</p>
  </mat-step>

</mat-vertical-stepper> -->



<!--FORMS-->

<!-- <mat-form-field floatLabel="never">
  <mat-label>Name</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field floatLabel="always">
  <mat-label>Name</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field floatLabel="auto" >
  <mat-label>Name</mat-label>
  <input matInput required>
</mat-form-field> -->

<!--Forms in case of appearence-->
<!-- 
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="legacy">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>

<mat-form-field floatLabel="auto" hideRequiredMarker appearance="standard">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field> -->

<!-- <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>


<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field> -->


<!--Selector-->
<!-- <mat-form-field>
 
  <mat-label>Topic</mat-label>
  <mat-select  [(value)]="selectedValue">
  <mat-option>None</mat-option>
 
    <mat-option value="angular">Angular</mat-option>
    <mat-option value="React">React</mat-option>
    <mat-option value="Vue">Vue</mat-option>
 

  
</mat-select>
</mat-form-field>

<mat-form-field>
 
    <mat-label>Topic</mat-label>
    <mat-select  [(value)]="selectedValue" multiple>
    <mat-option>None</mat-option>
    <mat-optgroup label="Web">
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="React">React</mat-option>
      <mat-option value="Vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobile">
      <mat-option value="ionic">Ionic</mat-option>
      <mat-option value="reactnative">reactnative</mat-option>

    </mat-optgroup>
    
  </mat-select>
</mat-form-field>
{{selectedValue}}
 -->

 <!--AutoComplete-->

<!-- <form>

  <mat-form-field>
    <input type="text" matInput  [matAutocomplete]="auto"  [formControl]="mycontrol"  />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of objectOptions" [value]="option">
          {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form> -->

<!--CheckBOX-->

<!-- <mat-checkbox>Subcribe</mat-checkbox>
<mat-checkbox labelPosition="before">Subcribe</mat-checkbox> -->


<!--Radio-->
<!-- 
<mat-radio-group>

  <mat-radio-button value="angular">Angular</mat-radio-button>
  <mat-radio-button  value="react">React</mat-radio-button>
  <mat-radio-button value="Vue">Vue</mat-radio-button>

</mat-radio-group>
 -->

<!---Date-->

 <!-- <mat-form-field>
   <input matInput [matDatepicker]="myDatePicker">
   <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
   <mat-datepicker #myDatePicker></mat-datepicker>
 </mat-form-field> -->

<!-- 
 <mat-form-field>
  <input matInput [matDatepicker]="myDatePicker">
  <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker startView="multi-year"></mat-datepicker>
</mat-form-field> -->



<!--TOOLTIP-->

<button mat-raised-button matTooltip="Welcome to CodeVolution">Hello</button>
<button mat-raised-button matTooltip="Welcome to CodeVolution" matTooltipPosition="after">Hello</button>

<router-outlet></router-outlet>